RewriteEngine On

# Nếu file hoặc thư mục không tồn tại thì rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Giữ nguyên query string khi rewrite
RewriteRule ^(.+)$ index.php?url=$1 [L,QSA]
